.form {
  input {

  }
  .form__button-block {
    margin-left: -10px;
  }
  &__row {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    background-color: #3f51b50f;
    .form--label {
      display: inline-flex;
      width: 50%;
    }
    .form--input {
      max-width: 50%;
      margin-left: 10px;
    }
    .form__search-icon {
      width: 30px;
      align-self: flex-end;
    }
    .form__search-field {
      width: 150px;
    }
  }
}
