@import './sass-modules/debug';

.map {
  width: 800px;
  height: 600px;
  overflow: hidden;
  outline: none;
}

.overlay {
  position: absolute;
  z-index: 0;
}

.svg {
  z-index: 2;
}

.cursor-crosshair {
  cursor: crosshair;
}