@import "./sass-modules/debug";
@import "./sass-modules/form";
@import "./sass-modules/fonts";

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  &__h1 {
    font-size: 32px;
    color: #3f51b5;
    font-weight: 600;
  }
}

.body-container {

}

.logo {
  width: 32px;
  height: 32px;
  background-image: url('../assets/icons/logo.svg');
  background-size: contain;
  display: inline-block;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.411);
}
.inner-container {
  height: 100%;
}
.container {
  max-width:calc(100% - 10px);
  margin: auto;
}
.left-inner-shadow {
  box-shadow: inset 7px 0 9px -7px black;
}
.inner-shadow {
  padding: 12px;
  box-shadow: inset 1px 0px 5px 1px rgba(0, 0, 0, 0.397);
}


.section {
  
  overflow-y:auto;
  &__h1 {
    font-size: 32px;
    color: #3f51b5;
    font-weight: 600;
  }
  &__h2 {
    font-size: 24px;
    color: #3f51b5;
    text-decoration: underline;
    margin-top: 15px;
  }
  &__h3 {
    font-size: 18px;
    color: #3f51b5;
  }
}
  .text--red {
    color: #f50057;
  }
  .text--green {
    color: #00bb1f;
  }
.section-map {
  height: 800px;
}
.section-info {
  height: 820px;
}

.scroll {
  overflow-y: scroll;
  max-height: 100vh;
}

.map {
  width: 100%;
  height: 800px;
  z-index: 0;
  overflow: hidden;
  outline: none;
  &__hint-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__hint{
    position: relative;
    font-size: 14pt;
    color: grey;
    z-index: 800;
  }
}

@media(max-width: 700px) {
  .section-map {
    height: 400px;
  }
  .map {
    height: 400px;
  }
}

.leaflet-container {
  background-color: white !important;
}

.lot__btn {
  margin: 10px 10px !important;
}

.cursor-crosshair {
  cursor: crosshair !important;
}


#app{

}